<body>
    <div class="news-body">
        <div class="news-header">
            <h1>News</h1>
            <hr>
        </div>
    <button (click)="editNewsFlag()" id="show_hide_button">Create News</button>
    <div *ngIf="editNews" id="create_form">
        <form #newsForm="ngForm" (ngSubmit)="submitNews()" novalidate>
            <label>Title:</label>
            <input type="text" name="title" [(ngModel)]="news.title" required>
            
            <label>Description:</label>
            <textarea name="description" [(ngModel)]="news.description" required></textarea>
          
            <label>Image URL:</label>
            <input type="text" name="image" [(ngModel)]="news.image" required>
          
            <label>Content:</label>
            <textarea name="content" [(ngModel)]="news.content" required></textarea>
          
            <button type="submit" [disabled]="newsForm.invalid">Submit</button>
          </form>
    </div>
        <ul class="news-list">
            @for (item of newsList; track item.id) {
                <li class="news-item">
                    <button class="news-item-button" routerLink="{{item.id}}">
                        <img class="news_img" src="{{item.image}}">
                        <p class="news-descr">{{item.title}}</p>
                    </button>
                    <button (click)="deleteNews(item.id)" *ngIf="currUser?.is_staff">Delete</button>
                </li>
            }
        </ul>
    </div>
</body>
